.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: .5rem;
}
.input {
  margin-right: 1rem;
}
.removeBtn {
  background: #AC101D;
  border-radius: 5px;
  color: #fff;
  border: none;
}
.done {
  text-decoration: line-through;
}
